@import '../base';
@import './base';

@media screen and (min-width: 768px) {
    
    html {

        body {

            .review-fv {
                height: 60vw;
            }

            .review_main {
                margin-top: 60px;

                .review-flow, .review-about, .review-how, .review-notice {

                    h2 {
                        @include h2-pc;
                    }
                }

                .review-flow {

                    .review-container {
                        width: calc(100% - 200px);
                        margin: 60px auto 0 auto;
                    }
                }
            }
        }
    }
}
