@import '../base';
@import './base';

@media screen and (min-width: 768px) {
    
    html {

        body {

            .review-fv {
                height: 60vw;

                .review-con {
                    transform: translate(-50%, -2.3vw);
    
                    p {
                        font-weight: bold;
                        color: $red;
                        letter-spacing: 0;
                        text-align: center;
                    }
    
                    p:nth-of-type(1) {
                        @include font_ll-pc;
                    }
    
                    p:nth-of-type(2) {
                        @include font_llll-pc;
                        line-height: 48px;
    
                        span {
                            font-size: 40px;
                            line-height: 40px;
                        }
                    }
                }
            }

            .review_main {
                margin-top: 60px;

                .review-flow, .review-about, .review-how, .review-notice {

                    h2 {
                        @include h2-pc;
                    }
                }

                .review-flow {

                    .review-container {
                        width: calc(100vw - 200px);
                        margin: 60px auto 0 auto;
                        @include center;

                        .review-container-bgImg {
                            width: 100vw;
                            height: 11vw;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                        .review-con:nth-of-type(3), .review-con:nth-of-type(4), .review-con:nth-of-type(5) {
                            width: calc(((100vw - 200px) - 160px) / 3);
                            height: calc(((100vw - 200px) - 160px) / 3);
                            margin-left: 40px;

                            h3 {
                                font-size: 28px;
                                line-height: 42px; 
                                
                                span {
                                    width: 28px;
                                    height: 28px;
                                    background-color: transparent;
                                    @include font_ll;
                                    line-height: 20px;
                                    position: relative;

                                    &::before {
                                        content: '';
                                        width: 100%;
                                        height: 100%;
                                        border-radius: 50%;
                                        background-color: $white;
                                        @include absolute;
                                        transform: translate(-.5px, 1px);
                                        z-index: -1;
                                    }
                                }
                            }
                        }

                        .review-con:nth-of-type(3) {
                            transform: translateY(55px);

                            .review-bgImg {
                                transform: translate(0, 0);
                            }

                            h3, p {
                                transform: translateY(-50px);
                            }
                        }

                        .review-con:nth-of-type(4) {

                            .review-bgImg {
                                transform: translate(0, 0);
                            }

                            h3, p {
                                transform: translateY(-40px);
                            }

                            p {
                                @include font_s;
                            }
                        }

                        .review-con:nth-of-type(5) {
                            transform: translateY(21px);

                            .review-bgImg {
                                transform: translate(0, 0);
                            }

                            h3 {
                                transform: translate(-7.5px, -25px);

                                span {
                                    transform: translate(-7.5px, 0);
                                }
                            }
                        }
                    }
                }

                .review-about, .review-how, .review-notice {
                    width: calc(100% - 200px);
                    margin: 100px auto 0 auto;
                }

                .review-about {

                    ul {

                        li {
                            margin-top: 40px;

                            h3 {
                                @include font_m-pc;
                            }
                        }

                        li:nth-of-type(2), li:nth-of-type(3) {

                            p {
                                text-align: center;
                            }
                        }

                        li:nth-of-type(3) {

                            span {
                                @include font-s;
                            }
                        }

                        li:nth-of-type(4) {
                            width: calc(78% - 16px);
                            margin: 40px auto 0 auto;

                            p {

                                span {
                                    @include font-s;
                                    text-align: center;
                                }
                            }

                            p:nth-of-type(3) {
                                margin-top: 60px;
                            }
                        }
                    }
                }

                .review-how {

                    article {
                        height: calc(16vw + 48px);
                        padding-bottom: 0;
                        display: flex;
                        align-items: center;

                        .review-step {
                            width: 80px;
                            height: 80px;
                            transform: translate(-20px, -28px);
                        }

                        .review-copy {
                            width: calc((56% - 120px) - 64px);
                            margin-left: 120px;

                            h3 {
                                width: fit-content;
                                padding-top: 0;
                                margin: 0 0;
                            }    

                            p {
                                width: fit-content;
                                margin: 8px 0 0 0;
                                white-space: wrap;
                            }
                        }

                        .review_img-container {
                            width: 44%;
                            height: 16vw;
                            margin-left: 64px;

                            .review_img {
                                width: 28vw;
                                height: 100%;
                                margin: 0 0 0 0;
                            }    
                        }
                    }

                    .review-sp {
                        display: none;
                    }

                    .review-annotation {
                        display: none;
                    }

                    .review-button {
                        width: 100%;
                        margin: 100px auto 0 auto;

                        p {

                            span:nth-of-type(1), span:nth-of-type(3) {
                                height: 20px;
                            }

                            span:nth-of-type(1) {
                                margin-right: 10px;
                            }
                            
                            span:nth-of-type(2) {
                                @include font_ll-pc;
                            }
    
                            span:nth-of-type(3) {
                                margin-left: 10px;
                            }
                        }

                        a {
                            height: 80px;
                            border-radius: 40px;
                            @include font_ll-pc;
                        }
                    }
                }

                .review-notice {

                    ul {
                        width: calc((100% - 32px) - 14px);
                        margin: 40px 0 0 30px;

                        li {
                            white-space: wrap;
                        }
                    }
                }
            }
        }
    }
}
