/* --- reset --- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p, div {
  word-break: break-all;
}

a {
  text-decoration: none;
}

input[type=text], select {
  border-radius: 3px;
  border: none;
  padding: 6px;
  font-size: inheirt;
  box-sizing: border-box;
}

input::placeholder {
  color: #B5B5B5;
  font-size: 12px;
}

pre {
  white-space: pre-wrap;
}

.clearfix {
  display: block;
}

.clearfix::before {
  content: "";
  display: block;
  clear: both;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.bx-wrapper {
  box-shadow: none !important;
}

.bx-controls-direction a {
  z-index: 0 !important;
}

* {
  font-family: "Noto Sans JP", serif;
  font-size: 14px;
  font-weight: 400;
  color: #414143;
  letter-spacing: 0.04em;
  line-height: 17px;
}

html, body {
  width: 100vw;
}

.review-fv, main, section {
  width: 100%;
}

a {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

.review-pc {
  display: none;
}

html body {
  background-color: #FFF2E3;
  overflow-x: hidden;
}
html body .review-fv {
  width: 100%;
  height: 100vw;
  position: relative;
}
html body .review-fv .review-bgImg {
  width: 100%;
  height: 100%;
}
html body .review-fv .review-con {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -5vw);
}
html body .review-fv .review-con p {
  font-weight: bold;
  color: #B8193E;
  letter-spacing: 0;
  text-align: center;
}
html body .review-fv .review-con p:nth-of-type(1) {
  font-size: 14px;
  line-height: 17px;
}
html body .review-fv .review-con p:nth-of-type(2) {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  line-height: 24px;
}
html body .review-fv .review-con p:nth-of-type(2) span {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5em;
  color: #B8193E;
  line-height: 24px;
}
html body .review_main {
  margin-top: 40px;
}
html body .review_main .review-flow h2, html body .review_main .review-about h2, html body .review_main .review-how h2, html body .review_main .review-notice h2 {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5em;
  color: #4B0718;
  text-align: center;
}
html body .review_main .review-flow h2 span, html body .review_main .review-about h2 span, html body .review_main .review-how h2 span, html body .review_main .review-notice h2 span {
  display: block;
  font-family: "copperplate", serif;
  font-weight: bold;
  color: #FEA554;
}
html body .review_main .review-flow .review-container {
  width: calc(100% - 32px);
  margin: 24px auto 0 auto;
  position: relative;
}
html body .review_main .review-flow .review-container .review-container-bgImg {
  width: 100vw;
  height: 134vw;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-16px, -24px);
  z-index: -1;
}
html body .review_main .review-flow .review-container .review-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
html body .review_main .review-flow .review-container .review-con .review-bgImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
html body .review_main .review-flow .review-container .review-con h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
}
html body .review_main .review-flow .review-container .review-con h3 span {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
}
html body .review_main .review-flow .review-container .review-con p {
  color: #FFFFFF;
  text-align: center;
}
html body .review_main .review-flow .review-container .review-con:nth-of-type(3) {
  width: 63vw;
  height: 53vw;
}
html body .review_main .review-flow .review-container .review-con:nth-of-type(3) .review-bgImg {
  transform: translate(-2.5px, 15px);
}
html body .review_main .review-flow .review-container .review-con:nth-of-type(3) h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5em;
}
html body .review_main .review-flow .review-container .review-con:nth-of-type(3) h3 span {
  color: #0073C8;
}
html body .review_main .review-flow .review-container .review-con:nth-of-type(4) {
  width: 53vw;
  height: 37vw;
  margin-left: calc(47vw - 32px);
}
html body .review_main .review-flow .review-container .review-con:nth-of-type(4) .review-bgImg {
  transform: translateY(-5px);
}
html body .review_main .review-flow .review-container .review-con:nth-of-type(4) h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5em;
}
html body .review_main .review-flow .review-container .review-con:nth-of-type(4) h3 span {
  color: #FF532E;
}
html body .review_main .review-flow .review-container .review-con:nth-of-type(4) p {
  font-size: 12px;
  line-height: 1.5em;
}
html body .review_main .review-flow .review-container .review-con:nth-of-type(5) {
  width: 65vw;
  height: 59vw;
}
html body .review_main .review-flow .review-container .review-con:nth-of-type(5) h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5em;
  transform: translateX(-7.5px);
}
html body .review_main .review-flow .review-container .review-con:nth-of-type(5) h3 span {
  margin-bottom: 5px;
  color: #D8A900;
  transform: translateX(-7.5px);
}
html body .review_main .review-about, html body .review_main .review-how {
  margin: 60px auto 0 auto;
}
html body .review_main .review-about {
  width: calc(100% - 32px);
  background-color: #FFFFFF;
  padding: 40px 0;
}
html body .review_main .review-about ul {
  width: calc(100% - 32px);
  margin: 40px auto 0 auto;
}
html body .review_main .review-about ul li {
  margin-top: 24px;
}
html body .review_main .review-about ul li h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}
html body .review_main .review-about ul li h3 span {
  width: 32px;
  height: 3px;
  background-color: #F1BD00;
}
html body .review_main .review-about ul li h3 span:nth-of-type(1) {
  margin-right: 10px;
}
html body .review_main .review-about ul li h3 span:nth-of-type(2) {
  margin-left: 10px;
}
html body .review_main .review-about ul li p {
  margin-top: 12px;
}
html body .review_main .review-about ul li p span {
  display: block;
  margin-top: 12px;
  font-size: 12px;
  line-height: 1.5em;
}
html body .review_main .review-about ul li:nth-of-type(1) {
  margin-top: 0;
}
html body .review_main .review-about ul li:nth-of-type(1) p {
  text-align: center;
}
html body .review_main .review-about ul li:nth-of-type(4) p:nth-of-type(1) {
  margin-top: 12px;
  text-align: center;
}
html body .review_main .review-about ul li:nth-of-type(4) p:nth-of-type(3) {
  margin-top: 40px;
}
html body .review_main .review-how {
  width: calc(100% - 48px);
}
html body .review_main .review-how article {
  border-left: solid 4px #F1BD00;
  background-color: #FFFFFF;
  padding-bottom: 24px;
  margin-top: 40px;
  position: relative;
}
html body .review_main .review-how article .review-step {
  width: 21vw;
  height: 21vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-24px, -28px);
}
html body .review_main .review-how article .review-step .review-bgImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-1.125px);
  z-index: -1;
}
html body .review_main .review-how article .review-step p {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5em;
  color: #FFFFFF;
  line-height: 1em;
  white-space: wrap;
}
html body .review_main .review-how article .review-step p span {
  font-size: 12px;
  line-height: 1.5em;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 1em;
}
html body .review_main .review-how article h3 {
  width: 64vw;
  padding-top: 24px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}
html body .review_main .review-how article p {
  width: 64vw;
  margin: 8px auto 0 auto;
  white-space: nowrap;
}
html body .review_main .review-how article .review_img {
  width: 64vw;
  height: 64vw;
  margin: 24px auto 0 auto;
}
html body .review_main .review-how article:nth-of-type(1) {
  margin-top: 60px;
}
html body .review_main .review-how .review-annotation {
  margin-top: 12px;
}
html body .review_main .review-how .review-button {
  width: calc(100vw - 64px);
  margin: 60px auto 0 auto;
}
html body .review_main .review-how .review-button p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #282828;
  text-align: center;
}
html body .review_main .review-how .review-button p span:nth-of-type(1), html body .review_main .review-how .review-button p span:nth-of-type(3) {
  display: block;
  width: 1px;
  height: 18px;
  background-color: #282828;
}
html body .review_main .review-how .review-button p span:nth-of-type(1) {
  margin-right: 7.5px;
  transform: rotate(-45deg);
}
html body .review_main .review-how .review-button p span:nth-of-type(2) {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5em;
  color: #F1BD00;
  line-height: 24px;
}
html body .review_main .review-how .review-button p span:nth-of-type(3) {
  margin-left: 7.5px;
  transform: rotate(45deg);
}
html body .review_main .review-how .review-button a {
  display: block;
  width: 100%;
  height: 48px;
  border-radius: 30px;
  background-color: #AE0414;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5em;
  color: #FFFFFF;
}
html body .review_main .review-notice {
  width: calc(100% - 32px);
  background-color: #FFFFFF;
  padding-bottom: 40px;
  margin: 60px auto 0 auto;
}
html body .review_main .review-notice h2 {
  padding-top: 40px;
}
html body .review_main .review-notice ul {
  width: 85%;
  margin: 40px 16px 0 calc(15% - 16px);
}
html body .review_main .review-notice ul li {
  position: relative;
}
html body .review_main .review-notice ul li span {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #282828;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-14px, 7px);
}

/* --- reset --- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p, div {
  word-break: break-all;
}

a {
  text-decoration: none;
}

input[type=text], select {
  border-radius: 3px;
  border: none;
  padding: 6px;
  font-size: inheirt;
  box-sizing: border-box;
}

input::placeholder {
  color: #B5B5B5;
  font-size: 12px;
}

pre {
  white-space: pre-wrap;
}

.clearfix {
  display: block;
}

.clearfix::before {
  content: "";
  display: block;
  clear: both;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.bx-wrapper {
  box-shadow: none !important;
}

.bx-controls-direction a {
  z-index: 0 !important;
}

* {
  font-family: "Noto Sans JP", serif;
  font-size: 14px;
  font-weight: 400;
  color: #414143;
  letter-spacing: 0.04em;
  line-height: 17px;
}

html, body {
  width: 100vw;
}

.review-fv, main, section {
  width: 100%;
}

a {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

.review-pc {
  display: none;
}

/* --- reset --- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p, div {
  word-break: break-all;
}

a {
  text-decoration: none;
}

input[type=text], select {
  border-radius: 3px;
  border: none;
  padding: 6px;
  font-size: inheirt;
  box-sizing: border-box;
}

input::placeholder {
  color: #B5B5B5;
  font-size: 12px;
}

pre {
  white-space: pre-wrap;
}

.clearfix {
  display: block;
}

.clearfix::before {
  content: "";
  display: block;
  clear: both;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.bx-wrapper {
  box-shadow: none !important;
}

.bx-controls-direction a {
  z-index: 0 !important;
}

* {
  font-family: "Noto Sans JP", serif;
  font-size: 14px;
  font-weight: 400;
  color: #414143;
  letter-spacing: 0.04em;
  line-height: 17px;
}

html, body {
  width: 100vw;
}

.review-fv, main, section {
  width: 100%;
}

a {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

.review-pc {
  display: none;
}

@media screen and (min-width: 768px) {
  * {
    font-size: 16px;
    line-height: 19px;
  }
  .review-sp {
    display: none;
  }
  .review-pc {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  html body .review-fv {
    height: 60vw;
  }
  html body .review-fv .review-con {
    transform: translate(-50%, -2.3vw);
  }
  html body .review-fv .review-con p {
    font-weight: bold;
    color: #B8193E;
    letter-spacing: 0;
    text-align: center;
  }
  html body .review-fv .review-con p:nth-of-type(1) {
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
  }
  html body .review-fv .review-con p:nth-of-type(2) {
    font-size: 32px;
    line-height: 48px;
  }
  html body .review-fv .review-con p:nth-of-type(2) span {
    font-size: 40px;
    line-height: 40px;
  }
  html body .review_main {
    margin-top: 60px;
  }
  html body .review_main .review-flow h2, html body .review_main .review-about h2, html body .review_main .review-how h2, html body .review_main .review-notice h2 {
    font-size: 32px;
  }
  html body .review_main .review-flow .review-container {
    width: calc(100vw - 200px);
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html body .review_main .review-flow .review-container .review-container-bgImg {
    width: 100vw;
    height: 11vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  html body .review_main .review-flow .review-container .review-con:nth-of-type(3), html body .review_main .review-flow .review-container .review-con:nth-of-type(4), html body .review_main .review-flow .review-container .review-con:nth-of-type(5) {
    width: calc((100vw - 200px - 160px) / 3);
    height: calc((100vw - 200px - 160px) / 3);
    margin-left: 40px;
  }
  html body .review_main .review-flow .review-container .review-con:nth-of-type(3) h3, html body .review_main .review-flow .review-container .review-con:nth-of-type(4) h3, html body .review_main .review-flow .review-container .review-con:nth-of-type(5) h3 {
    font-size: 28px;
    line-height: 42px;
  }
  html body .review_main .review-flow .review-container .review-con:nth-of-type(3) h3 span, html body .review_main .review-flow .review-container .review-con:nth-of-type(4) h3 span, html body .review_main .review-flow .review-container .review-con:nth-of-type(5) h3 span {
    width: 28px;
    height: 28px;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5em;
    line-height: 20px;
    position: relative;
  }
  html body .review_main .review-flow .review-container .review-con:nth-of-type(3) h3 span::before, html body .review_main .review-flow .review-container .review-con:nth-of-type(4) h3 span::before, html body .review_main .review-flow .review-container .review-con:nth-of-type(5) h3 span::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-0.5px, 1px);
    z-index: -1;
  }
  html body .review_main .review-flow .review-container .review-con:nth-of-type(3) {
    transform: translateY(55px);
  }
  html body .review_main .review-flow .review-container .review-con:nth-of-type(3) .review-bgImg {
    transform: translate(0, 0);
  }
  html body .review_main .review-flow .review-container .review-con:nth-of-type(3) h3, html body .review_main .review-flow .review-container .review-con:nth-of-type(3) p {
    transform: translateY(-50px);
  }
  html body .review_main .review-flow .review-container .review-con:nth-of-type(4) .review-bgImg {
    transform: translate(0, 0);
  }
  html body .review_main .review-flow .review-container .review-con:nth-of-type(4) h3, html body .review_main .review-flow .review-container .review-con:nth-of-type(4) p {
    transform: translateY(-40px);
  }
  html body .review_main .review-flow .review-container .review-con:nth-of-type(4) p {
    font-size: 14px;
    line-height: 17px;
  }
  html body .review_main .review-flow .review-container .review-con:nth-of-type(5) {
    transform: translateY(21px);
  }
  html body .review_main .review-flow .review-container .review-con:nth-of-type(5) .review-bgImg {
    transform: translate(0, 0);
  }
  html body .review_main .review-flow .review-container .review-con:nth-of-type(5) h3 {
    transform: translate(-7.5px, -25px);
  }
  html body .review_main .review-flow .review-container .review-con:nth-of-type(5) h3 span {
    transform: translate(-7.5px, 0);
  }
  html body .review_main .review-about, html body .review_main .review-how, html body .review_main .review-notice {
    width: calc(100% - 200px);
    margin: 100px auto 0 auto;
  }
  html body .review_main .review-about ul li {
    margin-top: 40px;
  }
  html body .review_main .review-about ul li h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
  }
  html body .review_main .review-about ul li:nth-of-type(2) p, html body .review_main .review-about ul li:nth-of-type(3) p {
    text-align: center;
  }
  html body .review_main .review-about ul li:nth-of-type(3) span {
    font-size: 14px;
    line-height: 17px;
  }
  html body .review_main .review-about ul li:nth-of-type(4) {
    width: calc(78% - 16px);
    margin: 40px auto 0 auto;
  }
  html body .review_main .review-about ul li:nth-of-type(4) p span {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  html body .review_main .review-about ul li:nth-of-type(4) p:nth-of-type(3) {
    margin-top: 60px;
  }
  html body .review_main .review-how article {
    height: calc(16vw + 48px);
    padding-bottom: 0;
    display: flex;
    align-items: center;
  }
  html body .review_main .review-how article .review-step {
    width: 80px;
    height: 80px;
    transform: translate(-20px, -28px);
  }
  html body .review_main .review-how article .review-copy {
    width: calc(56% - 120px - 64px);
    margin-left: 120px;
  }
  html body .review_main .review-how article .review-copy h3 {
    width: fit-content;
    padding-top: 0;
    margin: 0 0;
  }
  html body .review_main .review-how article .review-copy p {
    width: fit-content;
    margin: 8px 0 0 0;
    white-space: wrap;
  }
  html body .review_main .review-how article .review_img-container {
    width: 44%;
    height: 16vw;
    margin-left: 64px;
  }
  html body .review_main .review-how article .review_img-container .review_img {
    width: 28vw;
    height: 100%;
    margin: 0 0 0 0;
  }
  html body .review_main .review-how .review-sp {
    display: none;
  }
  html body .review_main .review-how .review-annotation {
    display: none;
  }
  html body .review_main .review-how .review-button {
    width: 100%;
    margin: 100px auto 0 auto;
  }
  html body .review_main .review-how .review-button p span:nth-of-type(1), html body .review_main .review-how .review-button p span:nth-of-type(3) {
    height: 20px;
  }
  html body .review_main .review-how .review-button p span:nth-of-type(1) {
    margin-right: 10px;
  }
  html body .review_main .review-how .review-button p span:nth-of-type(2) {
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
  }
  html body .review_main .review-how .review-button p span:nth-of-type(3) {
    margin-left: 10px;
  }
  html body .review_main .review-how .review-button a {
    height: 80px;
    border-radius: 40px;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
  }
  html body .review_main .review-notice ul {
    width: calc(100% - 32px - 14px);
    margin: 40px 0 0 30px;
  }
  html body .review_main .review-notice ul li {
    white-space: wrap;
  }
}