@charset 'UTF-8';

@import './reset';

$notoSansJp: "Noto Sans JP", serif;
$copperplate: "copperplate", serif;
$black1: #414143;
$black2: #282828;
$white: #FFFFFF;
$grey: #E6E6E6;
$beige: #FFF2E3;
$red: #B8193E;
$brown: #4B0718;
$orange: #FEA554;
$blue: #0073C8;
$spreadOrange: #FF532E;
$gold: #D8A900;
$yellow: #F1BD00;
$wineRed: #AE0414;

* {
    font-family: $notoSansJp;
    font-size: 14px;
    font-weight: 300;
    color: $black1;
    letter-spacing: .04em;
    line-height: 17px;
}

html, body {
    width: 100vw;
}

.review-fv, main, section {
    width: 100%;
}

a {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
}

.review-pc {
    display: none;
}

@mixin bg {
    background-size: cover;
    background-position: center;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin absolute {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin font_ss {
    font-size: 12px;
    line-height: 1.5em;
}

@mixin font_s {
    font-size: 14px;
    line-height: 17px;
}

@mixin font_m {
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
}

@mixin font_l {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5em;
}

@mixin font_ll {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5em;
}

@mixin font_lll {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5em;
}

@mixin font_llll {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.5em;
}

@mixin h2 {
    @include font_llll;
    color: $brown;
    text-align: center;

    span {
        display: block;
        font-family: $copperplate;
        font-weight: bold;
        color: $orange;
    }
}
