@import './base';

html {

    body {
        background-color: $beige;
        
        .review-fv {
            width: 100%;
            height: 100vw;

            .review-bgImg {
                width: 100%;
                height: 100%;
                background-color: #D9D9D9;
            }
        }

        .review_main {
            margin-top: 40px;

            .review-flow, .review-about, .review-how, .review-notice {

                h2 {
                    @include h2;
                }
            }

            .review-flow {

                .review-container {
                    width: calc(100% - 32px);
                    margin: 24px auto 0 auto;

                    .review-con {
                        @include center;
                        flex-direction: column;
                        position: relative;

                        .review-bgImg {
                            width: 100%;
                            height: 100%;
                            @include absolute;
                            z-index: -1;
                        }

                        h3 {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            color: $white;

                            span {
                                display: block;
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                background-color: $white;
                                @include center;
                                @include font_s;
                                font-weight: bold;
                            }
                        }

                        p {
                            color: $white;
                            text-align: center;
                        }
                    }

                    .review-con:nth-of-type(1) {
                        width: 63vw;
                        height: 53vw;

                        .review-bgImg {
                            background-color: $blue;
                        }

                        h3 {
                            @include font_lll;

                            span {
                                color: $blue;
                            }
                        }
                    }

                    .review-con:nth-of-type(2) {
                        width: 53vw;
                        height: 37vw;
                        margin-left: calc(47vw - 32px);

                        .review-bgImg {
                            background-color: $spreadOrange;
                        }

                        h3 {
                            @include font_ll;

                            span {
                                color: $spreadOrange
                            }
                        }

                        p {
                            @include font_ss;
                        }
                    }

                    .review-con:nth-of-type(3) {
                        width: 53vw;
                        height: 53vw;

                        .review-bgImg {
                            background-color: $gold;
                        }

                        h3 {
                            @include font_ll;

                            span {
                                color: $gold;
                            }
                        }
                    }
                }
            }

            .review-about, .review-how {
                margin: 60px auto 0 auto;
            }

            .review-about {
                width: calc(100% - 32px);
                background-color: $white;
                padding: 40px 0;

                ul {
                    width: calc(100% - 32px);
                    margin: 40px auto 0 auto;

                    li {
                        margin-top: 24px;

                        h3 {
                            @include center;
                            @include font_m;

                            span {
                                width: 32px;
                                height: 3px;
                                background-color: $yellow;
                            }

                            span:nth-of-type(1) {
                                margin-right: 10px;
                            }

                            span:nth-of-type(2) {
                                margin-left: 10px;
                            }
                        }

                        p {
                            margin-top: 12px;
                        }
                    }

                    li:nth-of-type(1) {
                        margin-top: 0;

                        p {
                            text-align: center;
                        }
                    }

                    li:nth-of-type(4) {

                        p:nth-of-type(1) {
                            margin-top: 12px;
                            text-align: center;
                        }

                        p:nth-of-type(3) {
                            margin-top: 40px;
                        }
                    }
                }
            }

            .review-how {
                width: calc(100% - 48px);

                article {
                    border-left: solid 4px $yellow;
                    background-color: $white;
                    padding-bottom: 24px;
                    margin-top: 40px;
                    position: relative;

                    .review-step {
                        width: 21vw;
                        height: 21vw;
                        @include center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: translate(-24px, -28px);

                        .review-bgImg {
                            width: 100%;
                            height: 100%;
                            background-color: $yellow;
                            @include absolute;
                            z-index: -1;
                        }

                        p {
                            width: fit-content;
                            @include center;
                            flex-direction: column;
                            @include font_lll;
                            color: $white;
                            line-height: 1em;
                            white-space: wrap;

                            span {
                                @include font_ss;
                                color: $white;
                                letter-spacing: 0;
                                line-height: 1em;
                            }
                        }
                    }

                    h3 {
                        width: 64vw;
                        padding-top: 24px;
                        margin: 0 auto;
                        @include font_m;
                    }

                    p {
                        width: 64vw;
                        margin: 8px auto 0 auto;
                        white-space: nowrap;
                    }

                    .review_img {
                        width: 64vw;
                        height: 64vw;
                        background-color: #D9D9D9;
                        margin: 24px auto 0 auto;
                    }
                }

                article:nth-of-type(1) {
                    margin-top: 60px;
                }

                .review-annotation {
                    margin-top: 12px;
                }

                .review-button {
                    width: calc(100vw - 64px);
                    margin: 60px auto 0 auto;

                    p {
                        @include center;
                        font-weight: bold;
                        color: $black2;
                        text-align: center;

                        span:nth-of-type(1), span:nth-of-type(3) {
                            display: block;
                            width: 1px;
                            height: 18px;
                            background-color: $black2;
                        }

                        span:nth-of-type(1) {
                            margin-right: 7.5px;
                            transform: rotate(-45deg);
                        }
                        
                        span:nth-of-type(2) {
                            @include font_ll;
                            color: $yellow;
                            line-height: 24px;
                        }

                        span:nth-of-type(3) {
                            margin-left: 7.5px;
                            transform: rotate(45deg);
                        }
                    }

                    a {
                        display: block;
                        width: 100%;
                        height: 48px;
                        border-radius: 30px;
                        background-color: $red;
                        box-shadow: 0 0 8px rgba(0, 0, 0, .25);
                        margin-top: 8px;
                        @include center;
                        @include font_l;
                        color: $white;
                    }
                }
            }

            .review-notice {
                width: calc(100% - 32px);
                background-color: $white;
                padding-bottom: 40px;
                margin: 60px auto 0 auto;
                
                h2 {
                    padding-top: 40px;
                }

                ul {
                    width: 85%;
                    margin: 40px 16px 0 calc(15% - 16px);

                    li {
                        position: relative;

                        span {
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            background-color: $black2;
                            @include absolute;
                            transform: translate(-14px, 7px);
                        }
                    }
                }
            }
        }
    }
}

@import './responsive/style';
